<center>
	<form  method = "post" action="ask_age"> 
	<!-- action must be the same as the post name -->
	please enter your age: <input type="text" name="age_input"><br>
	<input type="submit" value="Submit">
	</form>
</center>

